<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Modificar mis datos </title>
	<link rel="stylesheet" href="/style/login.css">
</head>
<body>
	<form action="/usuario/modificar" method="post">
	 <ul>
	  <li>
	    <label for="mail"> Mail actual: </label>
	    <input type="email" id="mail1" name="mail1">
	  </li>
	  <li>
	    <label for="mail"> Mail nuevo: </label>
	    <input type="email" id="mail2" name="mail2">
	  </li>
	  <li>
	    <label for="contraseña"> Contraseña actual: </label>
	    <input type="password" id="contraseña1" name="contraseña1">
	  </li>
	  <li>
	    <label for="contraseña"> Contraseña nueva: </label>
	    <input type="password" id="contraseña2" name="contraseña2">
	  </li>
	  	<li class="button">
  			<button type="submit"> Modificar </button>
		</li>
	 </ul>
	</form>
</body>
</html>